//  Primary
$c-sani-gold: #ad986e;
$c-sani-gold-25: #eae5db;
$c-rich-black: #010400;
$c-black-olive: #30332e;
$c-dark-gold: #8a7b5d;

//  Secondary
$c-s-olive: #737142;
$c-s-midgrey: #979797;
$c-s-lightgrey: #e5e5e5;
$c-s-gold-50: #d6cbb7;
$c-s-gold-10: #f7f5f0;
$c-s-white: #ffffff;
$c-s-beige:#FAF4EF;

//  Tertiary
$c-t-sani-blue: #bfd2e4;
$c-t-sani-blue-50: #dfe9f2;
$c-t-bay-blue: #98cbcd;
$c-t-bay-blue-50: #cbe5e6;
$c-t-golden-hour: #d08d5b;
$c-t-golden-hour-50: #e8c6ad;

//  Alerts
$c-alert-red: #ac0000;
$c-alert-green: #004f30;
