@font-face {
  font-family: 'Baskerville';
  src: url('~/static/fonts/Baskerville.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Chronicle Display';
  src: url('~/static/fonts/Chronicle-Display-Extra-Light.otf')
    format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Effra Light';
  src: url('~/static/fonts/Effra-Light.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Effra Regular';
  src: url('~/static/fonts/Effra-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Effra Medium';
  src: url('~/static/fonts/Effra-Medium.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
